body {
	background-color: grey;	
}

/* Main Welcome Bar (Excluding Login) */

#Welcome_Bar {
	background-color: lightblue;
	height: 175px;
	padding-right: 20px;
	padding-left: 20px;
}

h1 {
	margin-top: 5px;
}

.Welcome_Item {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid black;
}

#Final_Welcome_Item {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Main Welcome Bar (Login) */

.Login_Or_Logout_Area {
	margin-right: 20px;
	margin-top: -90px;
}

#Login_Title{
	margin-left: 180px;
	font-weight: bold;
	text-decoration: underline;
}

.UsernameAndPassword {
	width: 150px;
	display: inline-block;
	text-align: right;
}

.Login_And_Register_Buttons {
	margin-right: 10px;
	margin-top: 10px;
	width: 70px;
	margin-left: 5px;
}

#Logout_Title {
	margin-right: 120px;
	margin-top: 70px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

#Logout_Button {
	margin-top: -60px;
	margin-right: -87px;
	height: 20px;
	width: 100px;
}

#Register {
	margin-top: 40.5px;
	margin-right: -230px;
}

/* Useful, Generalized Classes */

.Center {
	text-align: Center;
}

.Float_Right {
	float: right;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited { 
	color: black;
	text-decoration: none;
}

a:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}